<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New ticket for approval</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="contentContainer">
    <p th:text="|Dear ${recipient.getFirstName()} ${recipient.getLastName()},|"></p>
    <p></p>
    <p>New ticket [<a th:href="@{~/client-app/{id}/TicketOverview(id=${ticket.getId()})}" th:text="${ticket.getName()}"></a>] is waiting for approval.</p>
</div>
</body>
</html>
